<!--<%= @post.title %>>-->

<% provide(:title, @post.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    </section>
  </aside>
</div>

  <div id=firstpanel class="panel panel-default">
  <div class="panel-body">
    
    <div class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
</div>
    Basic panel examples
  </div>
</div>

<button type="button" id="newpost" onclick="scream()" class="btn btn-outline-primary">Primary</button>