<footer class="footer">
  <small>
    The <a href="https://github.com/DyerSituation">More Dyer projects</a>
    by <a href="https://www.linkedin.com/in/erikdyer4hire">hire me!</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>